.workflows {padding-top: 50px;}
.workflow-icon {text-align: center; padding: 5px 0 !important;}
.workflow-icon img {width: 80px !important; height: 80px !important; display: inline-block !important;}
.workflows-pagination {margin: 10px auto;}
.workflow-detail {margin-top: 10px;}
.workflow-description {color: #999;}

/* 通用样式重置 */
.ui.card .meta, .ui.cards>.card .meta {margin-top: 0.5em;}
.ui.horizontal.label, .ui.horizontal.labels .label {margin-bottom: 0.1em;}
.ui.card>.extra, .ui.cards>.card>.extra {word-wrap: break-word; word-break: break-all;}
